---
layout: pacman
section_class: pacman
subtitle: Leaderboard
meta: Leaderboard, information, and prizes for the Midwest Management Summit 2017 Pac-Man Championships.
---
<div class="pacman-scores">
{% assign pacman = (site.data.pacman | sort: 'score' | reverse) %}
{% for game in pacman %}
  <div class="pacman-score {% if forloop.first == true %}champion{% endif %}">
    <div class="pacman-score-content">
      <div class="player">
        <div class="label">Player</div>
        <div class="player-name"
        title="{{game.player}} is currently ranked #{{forloop.index}} with a score of {{game.score}} in the MMS 2017 Championships by Adaptiva">{{game.player}}</div>
      </div>
      <div class="score">
        <div class="label">Points</div>
        <div class="score-value">{{game.score}}</div>
      </div>
      <div class="rank">
        {% if forloop.first == true %}
        <div class="trophy" title="{{game.player}} is the current MMS 2017 Pac-Man Champion!">{% include svg/trophy.svg %}</div>
        {% else %}
        <div class="label">Rank</div>
        <div class="rank-value">{{forloop.index}}</div>
        {% endif %}
      </div>
    </div>
    <div class="pacman-score-sharing" style="display: none;">
      {% if forloop.first == true %}
      <p>Congratulations, {{game.player}}, you're the current MMS Pac-Man champion! Now display your dominance on social media!</p>
      <a href="https://twitter.com/intent/tweet?text=I+am+the+current+Pac-Man+champion+at+@mmsmoa%21+I+have+{{game.score}}+ranking+points+on+Pac-Man+at+the+@adaptiva+booth%21&url=http%3A%2F%2Fadaptiva.com%2Fpacman&hashtags=mmsmoa" target="_blank" title="Tweet your score!"><div class="lil-icon">{% include svg/twitter-icon.svg %}</div> Tweet Score</a>
      {% else %}
      <p>Nice work, {{game.player}}, you've made it to the leaderboard. Now share your success on social media!</p>
      <a href="https://twitter.com/intent/tweet?text=I+have+{{game.score}}+ranking+points+on+Pac-Man+at+the+@adaptiva+booth+at+@mmsmoa%2C+ranked+{{forloop.index}}%21&url=http%3A%2F%2Fadaptiva.com%2Fpacman&hashtags=mmsmoa" target="_blank" title="Tweet your score!"><div class="lil-icon">{% include svg/twitter-icon.svg %}</div> Tweet Score</a>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
<div style="text-align: center; margin: 2.618em 0;">
  <a href="#top" class="refresh" title="Click it, we double dog dare you!">Back to Top</a>
</div>
