---
layout: pacman
section_class: info
subtitle: Information
---
<div class="page-txt">
  <h2>Welcome to MMS 2017!</h2>
  <p>Now that you've made it to Minneapolis, it's time to take your rightful place as the MMS Pac-Man Champion. In order to do so, you need to track your rivals and know when to be where. You've come to the right place!
  <p>On this site (thoughtfully developed by the <a href="http://design.adaptiva.com" target="_blank" title="Adaptiva Design Lab">Adaptiva Design Lab</a>), you'll find the <a href="{{"/leaderboard" | relative_url}}">leaderboard</a> that shows all player scores and the current champion, a list of <a href="{{"/prizes" | relative_url}}">prizes</a>, and some free content and resources we hope you'll enjoy.</p>
  <h2 class="collapse-heading js-schedule">Schedule {% include html/collapse-icon.html %}</h2>
  <div class="collapse-content js-schedule-target" style="display: none;">
    <p>Other than the final championship, use of the Pac-Man system is managed on a first come first serve basis. Just come to our booth and snag a spot in line when you're ready to play!</p>
    <p>The top four ranking gamers will be invited to face off for a $100 Amazon Gift Card and a champion's plaque.</p> <p><strong>The final championship will be held on Wednesday, May 17th at 4:00 PM Central Time.</strong></p>
  </div>
  <h2 class="collapse-heading js-rules">Rules &amp; Scoring {% include html/collapse-icon.html %}</h2>
  <div class="collapse-content js-rules-target" style="display: none;">
  <p>We'll keep it simple:</p>
  <h3>Rules</h3>
  <ol>
    <li>There's no minimum number of people required to play, but scores are only recorded for games of 2-4 players. In the case of long lines at the machines, solo gamers and smaller groups will be asked to play in groups of up to four.</li>
    <li>There's no limit to how many times you can play! Just return to the line after your round is over and scores are reported.</li>
    <li>No teams — this is a free-for-all.</li>
    <li>Be nice to each other!</li>
  </ol>
  <h3>Scoring</h3>
  <ol>
    <li><strong>Only the winning score from games of two or more players will be recorded.</strong> If you are the winner of a multiplayer round, report your name and score to Adaptiva staff at the booth table.</li>
    <li>There are no restrictions on player names on the leaderboard, but please help us out and try to keep it simple.<br><br> By default, we will enter first name and last initial. If you have a gamer tag you'd like to use, we'll be happy to comply unless it's, like, 38 characters long.<br><br>No inappropriate player names, please.</li>
  </ol>
</div>
    <h2 class="collapse-heading js-adaptiva">Adaptiva at MMS 2017 {% include html/collapse-icon.html %}</h2>
    <div class="collapse-content js-adaptiva-target" style="display: none;">
  <p>Adaptiva is <em>the</em> diamond sponsor at MMS 2017! Because this is the coolest conference, obviously. You can find us (and the Pac-Man system) at booth #10, on the left side of the entrance to the expo hall.</p>
  <h3>Look, a map!</h3>
  </div>
</div>
<div class="page-img floor-plan js-adaptiva-target" style="display: none;">
  {% include svg/mms-floor-plan.svg %}
</div>
<div class="page-txt" style="margin-top: 0;">
  <h2 class="collapse-heading js-resources">Free content we think you'll like {% include html/collapse-icon.html %}</h2>
  <div class="collapse-content js-resources-target" style="display: none;">
  <p>Adaptiva is committed to generating free and <em>helpful</em> resources to the systems management and ConfigMgr community.</p>
  <h3>SCCM Academy</h3>
  <p>On this <a href="http://adaptiva.com/sccm-academy" target="_blank">page</a>, you will find a library of downloadable materials and educational resources on important Microsoft System Center Configuration Manager topics, such as Windows 10, security, and more. Our goal is to provide practical tips, strategies, and best practices around the endless possibilities for enterprise systems management with ConfigMgr.</p>
  <a href="http://adaptiva.com/sccm-academy" target="_blank" class="fancy-link">Visit the SCCM Academy</a>
  <h3>Enterprise Endpoint Experts (E³) Podcast</h3>
  <p>Adaptiva Director of Product Marketing Bill Bernat sits down with influential members of the ConfigMgr community to talk Windows 10, systems management tips and tricks, and the latest smartphones, of course.</p>
  <p>Follow the podcast series on <a href="https://soundcloud.com/adaptiva" target="_blank">SoundCloud</a> and <a href="https://itunes.apple.com/us/podcast/enterprise-endpoint-experts/id1233873361?mt=2" target="_blank">iTunes</a>.</p>
  <div class="podcast">
    <h4>Wally Mead</h4>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/313478354&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  <div class="podcast">
    <h4>Adin Ermie</h4>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/315110680&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  <div class="podcast">
    <h4>Ami Casto</h4>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/316152774&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  <div class="podcast">
    <h4>Nickolaj Andersen</h4>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/320815251&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  </div>
</div>
