---
layout: pacman
section_class: prizes
---
<div class="prize-list">
  <h1>Winner of each round</h1>
  <p>For every Pac-Man game consisting of two or more players, the victor will receive a <strong>$5 gift card</strong> to <a href="http://www.cariboucoffee.com/" target="_blank">Caribou Coffee</a>.</p>
</div>
<div class="prize-image">
  {% include pacman/caribou-coffee.svg %}
</div>
<div class="prize-list">
  <h1>Grand Champion</h1>
  <p>On Thursday, May 18th at 3:00 PM, the four highest scoring players will be invited to play in the championship round, where they will compete for a <strong>champion's plaque and a $100 Amazon gift card.</strong></p>
</div>
<div class="prize-image">
  {% include pacman/grand-prize.svg %}
</div>
