<nav class="nav">
    <div class="content">
        <div class="j-col j-col-3">
            <h3>Adaptiva Stuff</h3>
            <ul class="adaptiva-links">
                <li class="adaptiva-link"><a href="http://adaptiva.com" target="_blank" title="Adaptiva Website">adaptiva.com</a></li>
                <li class="adaptiva-link"><a href="http://twitter.com/adaptiva" target="_blank" title="Follow Adaptiva on Twitter">Twitter</a></li>
                <li class="adaptiva-link"><a href="http://facebook.com/adaptiva" target="_blank" title="Like Adaptiva on Facebook">Facebook</a></li>
                <li class="adaptiva-link"><a href="http://linkedin.com/company/adaptiva" target="_blank" title="Follow Adaptiva on LinkedIn">LinkedIn</a></li>
                <li class="adaptiva-link"><a href="http://vimeo.com/adaptiva" target="_blank" title="Check us out on Vimeo">Vimeo</a></li>
            </ul>
        </div>
        <div class="j-col j-col-9">
            <h3>Design Lab Stuff</h3>
            <ul class="nav-links">
                <li class="nav-link"><a href="{{"/blog" | relative_url}}">Blog</a></li>
                <li class="nav-link"><a href="{{"/guidelines" | relative_url}}">Brand Guidelines</a></li>
                <li class="nav-link"><a href="{{"/assets" | relative_url}}">Brand Assets</a></li>
                <li class="nav-link"><a href="{{"/about" | relative_url}}">About the Design Lab</a></li>
            </ul>
        </div>
    </div>
</nav>
