<footer class="site-footer">
  <div class="content">
    <div class="j-col j-col-4 wrap">
      <div class="j-row">
        <div class="j-col j-col-6">{% include svg/adaptiva-logo-white.svg %}</div>
      </div>
      <div class="j-col j-col-8">
        <p>Copyright &copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Adaptiva. All rights reserved.</p>
      </div>
    </div>
    <div class="j-col j-col-4">
      <ul class="footer-nav">
        <h4>Design Lab Stuff</h4>
        <li class="footer-nav-item"><a href="{{"/blog" | relative_url}}" class="footer-nav-link">Blog</a></li>
        <li class="footer-nav-item"><a href="{{"/guidelines" | relative_url}}" class="footer-nav-link">Brand Guidelines</a></li>
        <li class="footer-nav-item"><a href="{{"/assets" | relative_url}}" class="footer-nav-link">Brand Assets</a></li>
        <li class="footer-nav-item"><a href="{{"/about" | relative_url}}" class="footer-nav-link">About the Design Lab</a></li>
      </ul>
    </div>
    <div class="j-col j-col-4">
      <ul class="footer-nav">
        <h4>Adaptiva Stuff</h4>
        <li class="footer-nav-item"><a href="http://adaptiva.com" target="_blank" class="footer-nav-link" title="Adaptiva company website">adaptiva.com</a></li>
        <li class="footer-nav-item"><a href="http://twitter.com/adaptiva" target="_blank" class="footer-nav-link" title="Follow Adaptiva on Twitter">Twitter</a></li>
        <li class="footer-nav-item"><a href="http://facebook.com/adaptiva" target="_blank" class="footer-nav-link" title="Like Adaptiva on Facebook">Facebook</a></li>
        <li class="footer-nav-item"><a href="http://linkedin.com/company/adaptiva" target="_blank" class="footer-nav-link" title="Follow Adaptiva on LinkedIn">LinkedIn</a></li>
        <li class="footer-nav-item"><a href="http://vimeo.com/adaptiva" target="_blank" class="footer-nav-link" title="Check us out on Vimeo">Vimeo</a></li>
      </ul>
    </div>
  </div>
</footer>
