<nav class="nav">
    <div class="content">
        <div class="j-col j-col-3">
            <h3>Adaptiva Stuff</h3>
            <ul class="adaptiva-links">
                <li class="adaptiva-link"><a href="https://adaptiva.com" target="_blank" rel="noopener" title="Adaptiva Website">adaptiva.com</a></li>
                <li class="adaptiva-link"><a href="https://twitter.com/adaptiva" target="_blank" rel="noopener" title="Follow Adaptiva on Twitter">Twitter</a></li>
                <li class="adaptiva-link"><a href="https://facebook.com/adaptiva" target="_blank" rel="noopener" title="Like Adaptiva on Facebook">Facebook</a></li>
                <li class="adaptiva-link"><a href="https://linkedin.com/company/adaptiva" target="_blank" rel="noopener" title="Follow Adaptiva on LinkedIn">LinkedIn</a></li>
                <li class="adaptiva-link"><a href="https://vimeo.com/adaptiva" target="_blank" rel="noopener" title="Check us out on Vimeo">Vimeo</a></li>
            </ul>
        </div>
        <div class="j-col j-col-9">
            <h3>Design Lab Stuff</h3>
            <ul class="nav-links">
                <li class="nav-link"><a href="{{"/blog/" | relative_url}}" title="Adaptiva Design Lab Blog">Blog</a></li>
                <li class="nav-link"><a href="{{"/guidelines/" | relative_url}}" title="Adaptiva Brand Guidelines">Brand Guidelines</a></li>
                <li class="nav-link"><a href="{{"/assets/" | relative_url}}" title="Adaptiva Brand Assets">Brand Assets</a></li>
								<li class="nav-link"><a href="{{"/lab/" | relative_url}}" title="Adaptiva web development tools, components, experiments, and more">The Lab</a></li>
                <li class="nav-link"><a href="{{"/about/" | relative_url}}" title="More about the Adaptiva Design Lab">About the Design Lab</a></li>
            </ul>
        </div>
    </div>
</nav>
